<ion-view title="Add Player" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="addPlayer-form16" class="list">
      <label class="item item-input" id="addPlayer-input9">
        <span class="input-label">Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addPlayer-input10">
        <span class="input-label">Gender</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="addPlayer-input11">
        <span class="input-label">Skill Level (Handicap)</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="addPlayer-button22" class="button button-positive button-block icon ion-android-done">Add Player</button>
  </ion-content>
</ion-view>