<ion-view title="Login" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="login-form4" class="list">
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input4">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="login-input5">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="participants()" id="login-button2" style="color:#272FCF;" class="button button-stable button-block">Log
        in</a>
      <a href-inappbrowser="/signup" id="login-button3" class="button button-positive button-block button-clear">Create
        an account</a>
    </form>
  </ion-content>
</ion-view>