<ion-view title="Participants" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="participants-form13" class="list">
      <ion-checkbox id="participants-checkbox7">Name1</ion-checkbox>
    </form>
    <form id="participants-form14" class="list">
      <ion-checkbox id="participants-checkbox8">Name2</ion-checkbox>
    </form>
    <form id="participants-form15" class="list">
      <ion-checkbox id="participants-checkbox9">Name3</ion-checkbox>
    </form>
    <div id="participants-button-bar4" class="button-bar">
      <a ui-sref="addPlayer()" id="participants-button19" class="button button-positive button-block icon ion-android-person-add">Add Player</a>
      <button id="participants-button20" class="button button-positive button-block icon ion-android-done">Start Game</button>
    </div>
  </ion-content>
</ion-view>