<ion-view title="Teams" id="page6">
  <ion-content padding="true" class="has-header">
    <h1 id="teams-heading2" style="color:#000000;">Team 1</h1>
    <h2 id="teams-heading4" style="color:#000000;font-weight:400;">X Total Points</h2>
    <ion-list id="teams-list14">
      <ion-item id="teams-list-item31">Name1</ion-item>
      <label class="item item-input" id="teams-input13">
        <span class="input-label">TotalScore1</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="teams-list-item-divider1"> </ion-item>
      <ion-item id="teams-list-item32">Name2</ion-item>
      <label class="item item-input" id="teams-input14">
        <span class="input-label">TotalScore2</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="teams-list-item-divider3"> </ion-item>
      <ion-item id="teams-list-item33">Name3</ion-item>
      <label class="item item-input" id="teams-input16">
        <span class="input-label">TotalScore3</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 42px;"></div>
    <h1 id="teams-heading3" style="color:#000000;">Team 2</h1>
    <h2 id="teams-heading5" style="color:#000000;font-weight:400;">X Total Points</h2>
    <ion-list id="teams-list13">
      <ion-item id="teams-list-item25">Name1</ion-item>
      <label class="item item-input" id="teams-input17">
        <span class="input-label">TotalScore1</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="teams-list-item-divider4"> </ion-item>
      <ion-item id="teams-list-item26">Name2</ion-item>
      <label class="item item-input" id="teams-input18">
        <span class="input-label">TotalScore2</span>
        <input type="text" placeholder="">
      </label>
      <ion-item class="item-divider" id="teams-list-item-divider5"> </ion-item>
      <ion-item id="teams-list-item27">Name3</ion-item>
      <label class="item item-input" id="teams-input19">
        <span class="input-label">TotalScore3</span>
        <input type="text" placeholder="">
      </label>
    </ion-list>
  </ion-content>
</ion-view>