<ion-header>
  <ion-navbar> <ion-title> Games Scores </ion-title> </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <button
    id="startGame-button1"
    ion-button
    color="stable"
    block
    color="secondary"
    on-click="startGame()"
  >
    Start A Game
  </button>
  <hr />
  <ion-card>
    <img src="../../assets/imgs/IMG_3518.png" />

    <ion-card-content>
      <ion-card-title> Winner is Team {{ winningTeam }}: </ion-card-title>

      <div *ngIf="ShowWinner">
        <strong>Score: {{ score }} </strong> <br />
        <p>
          Bowlers: <br />{{ winningMembers[0] }} <br />{{ winningMembers[1]
          }}<br />
          {{ winningMembers[2] }}
        </p>
      </div>
      <div *ngIf="tie">
        <p>Team {{ tieTeams[0] }} and Team {{ tieTeams[1] }} have tied!</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
