<ion-header>
  <ion-navbar> <ion-title> Games Scores </ion-title> </ion-navbar>
</ion-header>
<ion-content padding id="page2">
  <button
    id="startGame-button1"
    ion-button
    color="stable"
    block
    color="secondary"
    on-click="startGame()"
  >
    Start A Game
  </button>
  <hr />
  <ion-card class="heads">
    <img src="../../assets/imgs/IMG_3518.png" />
    <hr />

    <!--
      shows first, second and third place teams and team mebmers or tied teams
    -->
    <!--
      <div *ngIf="ShowWinner">
        Winner is Team {{ winningTeam }}: {{ winningMembers[0] }}
        {{ winningMembers[1] }} {{ winningMembers[2] }} with a score of
        {{ winningScore }}
      </div>
      <div *ngIf="ShowSecond">
        Second Place is {{ secondTeam }}: {{ secondMembers[0] }}
        {{ secondMembers[1] }} {{ secondMembers[2] }} with a score of
        {{ secondScore }}
      </div>
      <div *ngIf="ShowThird">
        Third Place is {{ thirdTeam }}: {{ thirdMembers[0] }}
        {{ thirdMembers[1] }} {{ thirdMembers[2] }} with a score of
        {{ thirdScore }}
      </div>
      <div *ngIf="tie">
        Team {{ tieTeams[0] }} and Team {{ tieTeams[1] }} have tied!
      </div>
    -->
    
    <ng-container *ngIf="ShowWinner">
      <div *ngFor="let rank of rank; let count = index">
        <ion-card-title>
          Team {{ Teams[rank].team_id }}: Rank {{ count + 1 }}
        </ion-card-title>

        <div>
          <strong>Score: {{ totalScores[count] }} </strong> <br />
          <p>
            Bowlers: <br />{{ Teams[rank].bowler_name }}:
            {{ Teams[rank].score }} <br />{{ Teams[rank + 1].bowler_name }}:
            {{ Teams[rank + 1].score }} <br />{{ Teams[rank + 2].bowler_name }}:
            {{ Teams[rank + 2].score }}
          </p>
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="ShowWinner2">
        <div *ngFor="let rank of rank; let count = index">
          <ion-card-title>
            Team {{ Teams[rank].team_id }}: Rank {{ count + 1 }}
          </ion-card-title>
  
          <div>
            <strong>Score: {{ totalScores[count] }} </strong> <br />
            <p>
              Bowlers: <br />{{ Teams[rank].bowler_name }}:
              {{ Teams[rank].score }} <br />{{ Teams[rank + 1].bowler_name }}:
              {{ Teams[rank + 1].score }}
            </p>
          </div>
        </div>
      </ng-container>
  </ion-card>
</ion-content>
