<ion-header>
  <ion-navbar>
    <ion-title> Bowlers </ion-title>
    <ion-grid>
      <ion-row no-padding no-margin>
          <ion-col col-4 no-padding>
            <button ion-fab on-click="goToHomePage()" item-end>
              <ion-icon name="home"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4 no-padding>
            <button ion-button size="small" on-click="generateBot()" float-right>Bot Setup</button>
          </ion-col>
          <ion-col col-4 no-padding>
            <ion-label float-right>Bowlers:{{counter}}</ion-label>
          </ion-col>
      </ion-row>
    </ion-grid>
  </ion-navbar>
</ion-header>

<ion-content padding id="page3">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <h2 class="heads">Current Roster:</h2>
  <br />
  <hr />

   <ion-list>
     <ion-grid>
       <ion-row>
         <ion-col col-sm><ion-checkbox
          checked={{verifyAll()}}
          (ionChange)="addAllCheckboxes($event)"
          ></ion-checkbox></ion-col>
         <ion-col col-4>Name</ion-col>
         <ion-col col-sm>Gender</ion-col>
         <ion-col>Average</ion-col>
       </ion-row>
     </ion-grid>
     <ion-grid *ngFor="let bowler of ListBowler">
       <ion-row>
         <ion-col col-sm>
           <ion-checkbox
             name="presentBowlers"
             slot="end"
             checked="{{verifyList(bowler.bowler_date)}}"
             (ionChange)="addCheckbox($event, bowler.bowler_id)"
           ></ion-checkbox
         ></ion-col>
         <ion-col col-4>{{ bowler.bowler_name }}</ion-col>
         <ion-col col-sm>{{ bowler.bowler_gender }}</ion-col>
         <ion-col>{{ bowler.bowler_average }}</ion-col>
       </ion-row>
     </ion-grid>
   </ion-list>

      <!-- Checkboxes in a List -->
      <div>
        <!-- <ion-scroll scrollY="true" style="width:100%;height:100vh"> -->
        <!--
      <ion-list>
        <ion-item *ngFor="let bowler of ListBowler">
          <ion-label>
            <ion-grid>
              <ion-row>
                <ion-col
                  >Name: {{ bowler.name }} {{ bowler.bowler_name }}</ion-col
                >
                <ion-col>
                  Gender: {{ bowler.gender }}{{ bowler.bowler_gender }}</ion-col
                >
                <ion-col>
                  Current Average: {{ bowler.average
                  }}{{ bowler.bowler_average }}</ion-col
                >
                <ion-col
                  ><ion-fab right>
                    <button ion-fab on-click="UpdateBowler()">
                      <ion-icon name="create"></ion-icon>
                    </button> </ion-fab
                ></ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
          <ion-checkbox
            slot="end"
            checked="{{verifyList(bowler.bowler_date)}}"
            (ionChange)="addCheckbox($event, bowler.bowler_id)"
          ></ion-checkbox>
        </ion-item>
      </ion-list>
    -->
        <!-- </ion-scroll> -->
      </div>

      <div></div>
</ion-content>
<ion-footer style="align-items: center">
  <ion-toolbar>
    <ion-grid align-self-center>
      <ion-row no-padding no-margin>
        <ion-col col-4 no-padding>
          <button
            ion-button
            color="danger"
            icon-end
            on-click="showDeleteConfirm()"
            float-start
          >
            Delete
            <ion-icon name="trash"></ion-icon>
          </button>
        </ion-col>
        <ion-col col-4 no-padding>
          <ion-fab center>
            <button ion-fab color="secondary" on-click="AddBowlerPrompt()">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-fab>
        </ion-col>
        <ion-col col-4 no-padding>
          <button
            ion-button
            color="light"
            icon-end
            on-click="showNextPage()"
            float-end
          >
            Next
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
